:root {
    --dark-100: #013237;
    --light-100: aliceblue;
    --fancy-100: #44d9a5;
    --critical-100: tomato;
}

.mainheader {
    /* box-shadow: 1px 1px 10px rgba(1, 50, 55, .1); */
    /* box-shadow: rgba(1, 50, 55, .3) 0px 25px 20px -20px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

}

.nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.nav-ul {
    min-width: 30%;
    padding: 10px;
    font-size: 18px;
    display: flex;
    list-style: none;
    justify-content: center;
}

.logo {
    min-width: 30%;

    font-family: 'Righteous', cursive;
    color: var(--dark-100);
    padding: 10px 16px;
    /* margin-right: auto; */
    /* font-size: 65px; */
    font-size: max(50px, 4vw);
}

.nav-button {
    min-width: 30%;
    /* margin-left: auto; */
    order: 1;
    align-self: flex-start;
    display: flex;
    justify-content: flex-end;
    /* margin-left: auto; */
}

.nav-btn {}


.nav-ul li a {
    cursor: pointer;
    border-radius: 5px;
    /* display: block; */
    padding: 6px 16px;
    text-decoration: none;
    color: var(--dark-100);
    transition: all .3s;
    display: inline-block;
    position: relative;
}

.nav-ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--dark-100);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}


.nav-ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.delete{
    color:tomato!important
}
.delete:after{
    background-color: tomato!important;
}


@media only screen and (max-width: 800px) {
    .nav {
        align-items: center;
        flex-direction: column;

    }

    .nav-button {
        margin-left: auto;
        order: -1;
    }


}