@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');


input[type="file"] {
  display: none;
}

.map-container, #map{
  border: 1px solid rgb(124, 124, 124);
  border-radius:5px;
  /* margin: 0 10px 0 10px; */
  height: 600px;
  /* min-width: 500px */
  width: 95%;
  /* max-width:; */
}
.map-loader{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 600px;
  width: 80vw;
  max-width:600px;
}

:root {
  --dark-100: #013237;
  --light-100: aliceblue;


  --fancy-100: #44d9a5;
  --critical-100: tomato;
}


@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }
}


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Oxygen', sans-serif;
}

body {
  font-family: 'Oxygen', sans-serif;
  color: #444;
  background-color: var(--light-100);
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.svg {
  width: 100%;
}

.margin-left {
  margin-left: 5px;
}

.button {
  text-align: center;
  min-width: 150px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  padding: 10px 16px;
  margin: 10px 10px;
  border-radius: 6px;
}

.icon-button {
  color: var(--dark-100);
  margin: 0 15px;
  cursor: pointer;
}

.button:hover:enabled {
  animation: bounce .2s ease-in;
}

.button:active:enabled {
  transform: translateY(1px);
}

.button:disabled {
  background-color: grey;
  color: white;
  cursor: default;
}

.button:focus:enabled {
  outline: none;
}

.button-prim {
  background-color: var(--dark-100);
  /* color: var(--light-100); */
  color: whitesmoke;
}

.button-plain {
  padding: 0;
  margin: 8px;
  background-color: rgba(255, 255, 255, 0);
  ;
  color: var(--dark-100);
  text-decoration: underline
}

.button-sec {
  background-color: var(--fancy-100);
  color: var(--dark-100);
}


.button-critical {
  background-color: var(--critical-100);
  color: var(--dark-100);
}

.button-ghost {
  background-color: var(--light-100);
  color: var(--dark-100);
  border: 1px solid var(--dark-100);
}

.btn-icon{
  padding:0;
  margin:0;
  border:none;
  background-color: transparent;
}

.button, li a {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.error-msg {
  color: var(--critical-100);
  text-align: center;
  padding: 0 16px;
}

.chart {
  margin: 15px;
}

.canvas {
  width: 100%;
  padding: 15px;
}

.square-chart {
  max-width: 350px;
  max-height: 350px;
}

.no-padding {
  text-align: center;
  padding: 0;
}

@media only screen and (max-width: 1070px) {
  
  .sm-hide{
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .button {
    font-size: 16px;
    padding: 12px 24px;
  }
  
  .button-plain {
    padding: 0;
    margin: 8px;
  }
}
